%nav.navbar.navbar-default{role: "navigation"}
  %ul.nav.navbar-nav
    %li
      %a{href: "#"} Cart
    %li
      %a{href: "#"} Login

%h1 Menu
- @products.each do |product|
  = product.name 
  = product.description 
  = "#{product.price} SEK"

